<div class="sidebar">
    <div class="lists">
        <div id="heading" class="lists">
            <mat-icon id="heading_icon">desktop_mac</mat-icon>
            <p routerLink="">STUDENT MANAGEMENT</p>
        </div>
        <hr> 
        <div class="list">
            <mat-icon id="icons">dashboard</mat-icon>
            <!-- <mat-icon>dashboard</mat-icon> -->
            <p routerLink="/dashboard">DashBoard</p>
        </div>
        <div class="list">
            <mat-icon id="icons">add_box</mat-icon>
            <p routerLink="/add_student">Add Students</p>
        </div>
        <div class="list">
            <mat-icon id="icons">library_books</mat-icon>
            <p routerLink="/mark_attendence">Mark Attendence</p>
        </div>
        <div class="list">
            <mat-icon id="icons"> bar_chart</mat-icon>
            <p routerLink="/Charts">Charts</p>
        </div>
    </div>
</div>