<div class="sidebar">
    <div class="lists">
        <div id="heading" class="lists">
        
            <p routerLink="">STUDENT MANAGEMENT</p>
        </div>
        <hr> 
        <div class="list">
            
            <p routerLink="/dashboard">DashBoard</p>
        </div>
        <div class="list">
            
            <p routerLink="/add_student">Add Students</p>
        </div>
        <div class="list">
            
            <p routerLink="/mark_attendence">Mark Attendence</p>
        </div>
        <div class="list">
            <p routerLink="/Charts">Charts</p>
        </div>
    </div>
</div>