table {
  width: 100%;
}

// .container {
//   padding: 3vw;
//   margin-left: 5vw;
// }

// .actions{
//   margin-right: 1vw;
//   width: 5vw;
// }

// // #actions>button{
// //   margin-right: 1vw;
// //   padding: 0 1vw;
// // }
// .row{
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }
// a{
//   text-decoration: none;
//   color: white;
//   width: 90px;
// }

table{
  margin: 2%;
}

button{
  margin: 2px;
}

th{
  background-color: black !important;
  color: white;
}
